

.main-container{
    background-color: white;
    color: black;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://th.bing.com/th/id/OIP.GTd83GNPmlfURPkzmp_xYwHaE8?w=270&h=180&c=7&r=0&o=5&pid=1.7");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text{
    background-color: transparent;
    text-align: center;
    padding: 0px 30px;
    display: block;
}
.main-text h2{
    color: white;
    background-color: transparent;
    font-size: 40px;

}
.main-text p{
    background-color: transparent;
    color: white;
    margin-top: 20px;
    font-size: 20px;
}
.main-text button{
    color: white;
    margin-top: 10px;
    padding: 8px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid crimson;
    border-radius: 6px;
}
.social{
    margin-top: 20px;
    background-color: transparent;
}
.social a{
    background-color: transparent;
}
.social i{
    color: crimson;
    padding: 0px 10px;
    background-color: transparent;
    font-size: 28px;
    
}
