
/* form container start here */
.form-container{
    border-radius: 10px;
    width: 400px;
    height: auto;
    box-shadow: 0px 0px 5px crimson;
    margin: 200px auto 20px;
    border: 2px solid white;
    background-color: rgb(27, 26, 26);
}
#abc{
    display: block;
}
.form-container form{
    background-color: rgb(27, 26, 26);

}
.form-container h2{
    text-align: center;
    margin: 15px 0px;
    font-size: 30px;
    text-transform: uppercase;
    color: crimson;
    background-color: rgb(27, 26, 26);
    
}
.name-container{
    margin: 5px auto;
    width: 300px;
    background-color: rgb(27, 26, 26);

}

input{
    width: 300px;
    padding: 10px;
    font-size: 15px;
    color: white;
    margin: 8px auto;
    border: 1px solid;
    outline: none;


}
.forget-pass a{
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.login-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    background-color: rgb(27, 26, 26);

}
.login-container button{
    padding: 10px;
    background-color: transparent;
    border: 2px solid crimson;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;

}
@media screen and (max-width:500px) {
    .form-container{
        width: 90% ;
        margin: 0px auto;
        border-radius: 8px;
    }
    label{
        margin: 5px;
        font-size: 18px;
    }
    input{
        width: 70%;
        font-size: 14px;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid;
        color: white;
    }
}
